/*
 * Global Menu 
 */

#sab_global_menu {
	padding: 0;
	margin: 0;
	height: 40px;
	background: url('') repeat-x #111;
}

#sab_global_menu ul {
	float: right;
	background: url("http://static.sabayon.org/site/img/navbar_div.png") right center no-repeat;
}

#sab_global_menu ul li {
	display: inline;
	background: url("http://static.sabayon.org/site/img/navbar_div.png") left center no-repeat;
	font-size: 1.2em;
	padding: 0;
	margin: 0;
}

#sab_global_menu ul li a, #sab_global_menu ul li a:link, #sab_global_menu ul li a:active,  #sab_global_menu ul li a:visited {
	color: #CCC;
	padding: 0 0.5em;
	line-height: 40px;
	height: 40px;
	text-decoration: none;
}

#sab_global_menu ul li a:hover {
	text-decoration: underline;
}
	
#sab_global_menu_inner {
	height: 100%;
	background: url('http://static.sabayon.org/site/img/navbar_sabayon_logo_trans.png') no-repeat left center;
}
