/* Global */
html {
	font-size: 100%;
	font-family: "Lucida Sans Unicode", "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;
	line-height: 1.5em;
}

table {
	border: 0px;
	border-spacing: 8px;
}

td {
	padding: 10px;
}

a,
a:link,
a:visited,
a:active
{
	color: #083671;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}
